@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-primary);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --background-color-secondary: #333333;
    --weak-text: #ABABAB;
    --background-color-primary: #EDEDED;
    --background-color-basic: #FFFFFF;
    --basic-text: #1B1F23;
    --orange: #FF5500;
}
